<div class="container">
  <header class="header flex flex-col justify-between">
    <nav class="top-header flex justify-between px-10 py-5">
      <app-tiered-menu></app-tiered-menu>
      <ul class="flex list gap-11">
        <li class="search"><button></button></li>
        <li class="profile"><button></button></li>
        <li class="cart pl-6"><button>(0)</button></li>
      </ul>
    </nav>
    <div class="flex justify-center">
      <img class="logo" src="../assets/logo_big_default.svg" alt="logo" />
    </div>
    <div class="bottom-header flex justify-center">
      <ul class="bg-white bottom_list w-1/2 flex items-center justify-around">
        <li class="order px-3"><button>Записаться</button></li>
        <div class="sep"></div>
        <li class="gift"><button></button></li>
        <div class="sep"></div>
        <li class="tlephone"><button></button></li>
      </ul>
    </div>
    <div class="blur"></div>
  </header>
</div>
