<div class="rates">
  <div class="flex">
    <h3 class="rates-title">
      5.0 <span class="rates-subtitle">576 отзывов</span>
    </h3>
  </div>
  <div class="divider mb-5"></div>
  <div class="user">
    <!--Превратить в map из отзывов-->
    <div class="flex">
      <h3>Татьяна Иванова</h3>
      <div class="circle"></div>
      <span>19 сен 2023</span>
    </div>
    <p class="rate mb-3">5</p>
    <p>
      Отель с прекрасным расположением. До Дворцовой площади пешком минут 20.
      Приветливые, готовые помочь ребята на ресепшен. Жила в номере на 4м этаже.
      В целом не плохо. Чисто, уборка качественная ежедневная, воду пополняли
      ежедневно. Есть халат, тапочки, зубные щетки, большая кровать, несколько
      разных подушек. Но мебель, ковролин, хоть и чистые, но «уставшие».
      Завтраки потрясающие, разнообразные и вкусные. Ходили в спа и спортзал.
      Классно. Впечатления от отеля положительные.
    </p>
  </div>
</div>
