<div class="body">
  <div class="top-section">
    <div class="about-container">
      <div class="flex">
        <p>О нас —</p>
        <app-dropdown></app-dropdown>
      </div>
      <div class="flex gap-16">
        <p class="hours">Ежедневно с 07:00 до 23:00</p>
        <p class="docs">Правовая документация PDF 250.mb</p>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <h2>Продуманная концепция, которая воздействует на все органы чувств</h2>
      <div class="content mb-10">
        <section class="left">
          <h3>Концепция</h3>
        </section>
        <section class="right">
          <h4>Специалисты</h4>
          <p>
            Наши специалисты имеют высокий уровень профессионализма и опыта в
            сфере спа-ухода и фитнеса.
          </p>
          <h4>Атмосфера</h4>
          <p>
            Мы стремимся предоставить нашим гостям непревзойденный уровень
            сервиса и комфорта.
          </p>
          <h4>Инновации</h4>
          <p>
            Мы используем современные технологии и инновационные подходы для
            предоставления самых передовых услуг и процедур.
          </p>
        </section>
      </div>
      <div class="flex justify-center mb-20">
        <img src="../assets/Scheme.png" alt="Scheme" />
      </div>
      <div class="content mb-10">
        <section class="left">
          <h3>Подход</h3>
        </section>
        <section class="right">
          <h3>
            Каждый посетитель уникален, поэтому мы стремимся создать
            индивидуальный подход, учитывая особенности и потребности каждого
            человека
          </h3>
        </section>
      </div>
      <div class="slider flex flex-col justify-between mb-20">
        <img src="../assets/Img-slider.png" alt="Slider image" />
        <div class="flex justify-between px-2 py-1">
          <span>1/26</span>
          <div class="flex">
            <button>назад</button>
            <span> / </span>
            <button>вперед</button>
          </div>
        </div>
      </div>
      <div class="content mb-10">
        <section class="left">
          <h3>Нам доверяют</h3>
        </section>
        <section class="w-1/2">
          <app-user-review></app-user-review>
        </section>
      </div>
    </div>
  </div>
</div>
