.burger-menu {
  position: relative;
  width: 25px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.burger-menu::before,
.burger-menu::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: #ffffff6e;
  transition: all 0.3s ease;
}

.burger-menu::before {
  transform: translateY(-5px);
}

.burger-menu::after {
  transform: translateY(5px);
}

.burger-menu.open::before {
  transform: rotate(45deg) translate(-5px, 5px);
}

.burger-menu.open::after {
  transform: rotate(-45deg) translate(-5px, -5px);
}

.burger-menu.open::before,
.burger-menu.open::after {
  background-color: #ffffff;
}

:host ::ng-deep {
  .p-tieredmenu-overlay {
    top: 25px !important;
    left: -18px !important;
    background: transparent;
  }

  .p-tieredmenu.p-tieredmenu-overlay {
    box-shadow: 0 0 0 0 transparent;
    width: 250px;
  }

  .p-tieredmenu
    .p-menuitem
    > .p-menuitem-content
    .p-menuitem-link
    .p-menuitem-text {
    color: white;
  }

  .p-tieredmenu
    .p-menuitem:not(.p-highlight):not(.p-disabled)
    > .p-menuitem-content:hover {
    background: #176569;
  }
}
